.popup{
    position: fixed;
    top: 20px;
    right: 700px;

    background-color: #222;
    color: white;

    padding: 14px 22px;
    border-radius: 10px;

    font-size: 15px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}